@media (min-height: 1000px) {
    .content h2 {
        padding-top: 130px;
    }
}

@media (max-width: 1280px) {
    .content p {
        padding: 30px 100px 0;
    }
    .container15 .footer {
        flex-wrap: wrap;
    }
    .container15 .footer_left {
        max-width: 100%;
        margin-right: 0;
    }
    .container15 .footer_left .input_setting {
        width: 100%;
        margin-bottom: 0 !important;
    }
    .container15 .footer_centr h3, .container15 .footer_right h3 {
        margin-top: 40px;
    }
    .container15 .footer_centr {
        max-width: 55%;
        margin-left: 0;
    }
    .container15 .footer_right {
        max-width: 45%;
    }
    .container15 .footer_right p {
        padding: 20px 0;
    }
}

@media (max-width: 1210px) {
    .container13 .cardGrid_cont13 .card_cont13:nth-child(2) .text3_cont13 p,
    .container13 .cardGrid_cont13 .card_cont13:last-child .text3_cont13 p {
        margin-bottom: 39px;
        padding-left: 0;
    }
}

@media (max-width: 1150px) {
    .content p {
        padding: 30px 0 0;
    }
}

@media (max-width: 1024px) {
    .menu {
        display: none;
    }
    .container1 .logo {
        position: relative;
        z-index: 3;
    }
    .container1 .burger {
        display: inline-block;
        width: 30px;
        position: absolute;
        right: 50px;
        z-index: 3;
    }
    .container1 .burger i {
        display: block;
        width: 80%;
        height: 5px;
        margin: 3px;
        background-color: white;
    }
    .container1 .show {
        display: block;
    }
    .container2 .cards .item,
    .container8 .gallery .card_add {
        width: 48%;
        padding-bottom: 20px;
    }
    .container2 .cards .item:last-child,
    .container8 .gallery .card_add {
        margin: 0 auto;
    }
    .container3 .cards_content {
        flex-wrap: wrap;
    }
    .container3 .cards_content div {
        width: 260px;
    }
    .container3 .cards_content div:nth-child(4) {
        border-left: 0.1px;
        border-color: white;
        border-style: solid;
    }
    .container3 .cards_content div:nth-child(1),
    .container3 .cards_content div:nth-child(2),
    .container3 .cards_content div:nth-child(3) {
        border-bottom: 0.1px;
        border-color: white;
        border-style: solid;
    }
    .container10 .grid_cards {
        grid-template-columns: 1fr 1fr;
    }
    .container10 .grid_cards .item:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .container10 .grid_icon {
        grid-template-columns: 1fr 1fr;
    }
    .container4 .grid_icon .item_icon:first-child i,
    .container4 .grid_icon .item_icon:nth-child(2) i,
    .container4 .grid_icon .item_icon:nth-child(3) i,
    .container4 .grid_icon .item_icon:nth-child(4) i,
    .container4 .grid_icon .item_icon:nth-child(5) i,
    .container4 .grid_icon .item_icon:last-child i {
        padding-top: 30px;
    }
    .container5 .center .iphone_img {
        opacity: 0;
    }

    .container13 .cardGrid_cont13 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 30px;
    }
    .container13 .cardGrid_cont13 .card_cont13:last-child {
        grid-column: 1/3;
        grid-row: 2/3;
        width: 48%;
        margin: 0 auto;
    }
    .container13 .cardGrid_cont13 .card_cont13:last-child img {
        max-width: 100%;
    }
    .container13 .cardGrid_cont13 .card_cont13:nth-child(2) .text3_cont13 p,
    .container13 .cardGrid_cont13 .card_cont13:last-child .text3_cont13 p {
        margin-bottom: 17px;
    }
}

@media (max-width: 991px) {
    .container6 .container6_add .card_text {
        height: 130px;
    }
}

@media (max-width: 950px) {
    .content p {
        font-size: 130px;
    }
}

@media (max-width: 810px) {
    .content h2 {
        font-size: 65px;
    }
    .content p {
        font-size: 124px;
    }
}

@media (max-width: 795px) {
    .container13 .cardGrid_cont13 .card_cont13:nth-child(2) .text3_cont13 p {
        margin-bottom: 39px;
    }
}

@media (max-width: 780px) {
    .container3 .cards_content div:nth-child(3) {
        border-left: 0.1px;
        border-color: white;
        border-style: solid;
    }
    .container3 .cards_content div:nth-child(4) {
        border-bottom: 0.1px;
        border-color: white;
        border-style: solid;
    }
    .container3 .cards_content div:last-child {
        border-left: 0.1px;
        border-color: white;
        border-style: solid;
    }
}

@media (max-width: 767px) {
    .content h2 {
        font-size: 48px;
    }
    .content p {
        font-size: 100px;
    }
    .container12 .container_add .our_item .descr {
        width: 100%;
    }
    .container6 .container6_add .row .picture {
        padding-right: 14px;
    }
    .container6 .container6_add .row .col_card1 {
        padding-right: 0;
    }
    .container6 .container6_add .row .col_card2 {
        padding-right: 14px;
        padding-left: 14px;
        margin-top: 30px;
    }
}

@media (max-width: 740px) {
    .container15 .footer {
        flex-direction: column;
    }
    .container15 .footer_left {
        max-width: 100%;
        margin-right: 0;
    }
    .container15 .footer_left .footer_left_top h2 {
        margin-top: 30px;
    }
    .container15 .footer_centr {
        max-width: 100%;
        margin: 0;
    }
    .container15 .footer_centr h3, .container15 .footer_right h3 {
        margin-top: 30px;
    }
    .container15 .footer_right {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-left: 0;
    }
    .container15 .footer_right .gallery_photos {
        align-self: center;
    }
    .container15 .footer_right p {
        align-self: center;
    }
}


@media (max-width: 700px) {
    .container4 .grid_icon {
        grid-template-columns: 1fr;
    }

    .container5 .center .ipad_img {
        opacity: 0;
        width: 64%;
    }
    .container5 .center .iphone_img {
        opacity: 1;
        left: calc(50% - 21%);
        top: 285px;
        width: 45%;
    }
    .container7 .slide-two .owl-nav .owl-next {
        width: 50px;
    }
    .container7 .slide-two .owl-nav .owl-prev{
        width: 50px;
    }
    .container7 .slide-two {
        padding: 0 50px;
    }
}

@media (max-width: 679px) {
    .container13
        .cardGrid_cont13
        .card_cont13:nth-last-child(2)
        .text3_cont13
        p {
        margin-bottom: 17px;
    }
}

@media (max-width: 600px) {
    .container2 h4 {
        margin-top: 40px;
    }
    .container2 .cards .item,
    .container8 .gallery .card_add {
        width: 100%;
    }
    .content h2 {
        font-size: 40px;
    }
    .content p {
        font-size: 80px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .container2 .cards {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .container4 p {
        margin-top: 40px;
    }
    .container4 .grid_icon {
        margin-bottom: 40px;
    }
    .container5 p {
        margin: 0;
    }
    .container6 .row_new {
        padding-bottom: 40px;
    }
    .container6 .text3_p_cont6 {
        margin-bottom: 40px;
    }
    .container7 .slide-two .content_owl_cont7 {
        flex-direction: column;
        padding: 40px 0;
    }
    .content_owl_cont7 .img_owl {
        margin: 0 auto 40px;
    }
    .content_owl_cont7 .text_owl {
        padding-left: 0;
    }
    .container9 {
        margin-top: 0;
    }
    .container10 .text1_h4_cont10, 
    .container8 .text1_h4_cont8 {
        padding-top: 40px;
    }
    .container10 .text3_p_cont10,
    .container8 .text3_p_cont8 {
        padding-bottom: 40px;
    }
    .container11 .content_carousel {
        flex-direction: column;
        padding: 40px 65px 40px 65px;
    }
    .container11 .content_carousel .text_blok_cont11 {
        padding-left: 0;
    }
    .container12 .container_add {
        padding-top: 55px;
        padding-bottom: 0px;
    }
    .container13 .text1_cont13 {
        padding-top: 40px;
    }
    .container13 .cardGrid_cont13 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-bottom: 30px;
    }
    .container13 .cardGrid_cont13 .card_cont13:last-child {
        grid-column: 1/1;
        grid-row: 3/3;
        width: 100%;
    }
    .container13 .cardGrid_cont13 .card_cont13:nth-child(2) .text3_cont13 p,
    .container13 .cardGrid_cont13 .card_cont13:last-child .text3_cont13 p {
        margin-bottom: 17px;
    }
}

@media (max-width: 560px) {
    .content h2 {
        font-size: 35px;
    }
    .content p {
        font-size: 68px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 520px) {
    .cards_content div:nth-child(2) {
        border-left: 0.1px;
        border-color: white;
        border-style: solid;
    }
    .cards_content div:nth-child(3) {
        border-right: 0.1px;
        border-color: white;
        border-style: solid;
    }
    .container4 p {
        margin-top: 50px;
    }
}

@media (max-width: 470px) {
    .content h2 {
        font-size: 30px;
    }
    .content p {
        font-size: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 435px) {
    .container4 .grid_icon .item_icon {
        padding-bottom: 10px;
    }
}

@media (max-width: 425px) {
    .content h2 {
        font-size: 25px;
    }
    .content p {
        font-size: 50px;
    }
    .container10 .grid_cards {
        grid-template-columns: 1fr;
    }
    .container10 .grid_cards .item:nth-child(3) {
        grid-row: 3/5;
    }
}

@media (max-width: 400px) {
    .container2 h4 {
        margin-top: 50px;
    }
    .content p {
        padding-left: 0;
        padding-right: 0;
    }
    .cards {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .container4 .g_line_red2 {
        margin-bottom: 20px;
    }
    .container4 .grid_icon .item_icon {
        padding-bottom: 20px;
    }
    .content_owl_cont7 .text_owl p {
        text-align: center;
    }
    .container7 .content_owl_cont7 .text_owl .pos_line {
        justify-content: center;
    }
    .container11 .content_carousel .text_blok_cont11 p {
        text-align: center;
    }
    .container11 .content_carousel .pos_gor_cont11 {
        justify-content: center;
    }
    .container15 .footer_left .footer_left_icon {
        flex-direction: column;
    }
    .container15 .footer_left .footer_left_icon .icon {
        margin-left: 0;
    }
    .container15 .footer_centr .news_blogs {
        grid-template-columns: 122px 50%;
    }
    .container15 .footer_centr .news_blogs h4 {
        font-size: 11px;
    }
}
