.container2 .cards .item img {
    width: 100%;
    transition: 0.5s ease-in-out;
}

.container2 .cards .item .icon {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
}

.container2 .cards .item .icon:hover {
    opacity: 1;
    visibility: visible;
    transform: translate(-10px, -10px);
}

.container2 .cards .item:hover img {
    transform: translate(-10px, -10px);
    box-shadow: rgba(149, 225, 211, 1) 10px 10px;
    transition: 0.5s;
}

.container2 .cards .item .user {
    height: 100%;
    background-image: url("../img/USERS.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container2 .cards .item .user p {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 40%;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* Img container8 */

.container8 .gallery .card_add img {
    width: 100%;
    transition: 0.5s ease-in-out;
}

.container8 .gallery .card_add .item {
    position: relative;    
    line-height: 0;
    cursor: pointer;
}

.container8 .gallery .card_add .item .icon_messengers {
    display: grid;
    position: absolute;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-column-gap: 1px;
    background-color: #e37879;
    left: calc(50% - 115px);
    top: 45%;
    z-index: 100;
    transition: 0.5s;
    opacity: 0;
}

.container8 .gallery .card_add .item:hover .icon_messengers {
    transform: translate(-10px, -10px);
    opacity: 1;
    transition: 0.5s;
}

.container8 .gallery .card_add .item .icon_messengers i {
    background-color: #fce38a;
    color: #f38181;
    font-size: 26px;
    padding: 16px;
    transition: 0.5s;
}

.container8 .gallery .card_add .item .icon_messengers i:first-child,
.container8 .gallery .card_add .item .icon_messengers i:nth-child(3) {
    padding-left: 20px;
}

.container8 .gallery .card_add .item .icon_messengers i:last-child {
    padding-left: 18px;
}

.container8 .gallery .card_add .item .icon_messengers i:hover {
    background-color: #e37879;
    color: white;
    transition: 0.5s;
}

.container8 .gallery .card_add .item:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #e37879, #eed181);
    opacity: 0;
    transition: 0.5s;
}

.container8 .gallery .card_add .item:hover:after {
    transform: translate(-10px, -10px);
    transition: 0.5s;
    opacity: 0.8;
}

.container8 .gallery .card_add .item:hover img{
    transform: translate(-10px, -10px);
    box-shadow: rgba(149, 225, 211, 1) 10px 10px;
    transition: 0.5s;
    opacity: 0.8;
}

/* Img container10 */

.container10 .grid_cards .item{
	position: relative;    
    line-height: 0;
    cursor: pointer;
}

.container10 .grid_cards .item:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #e37879, #eed181);
    opacity: 0;
    transition: 0.5s;
}

.container10 .grid_cards .item:hover:after {
    transition: 0.5s;
    opacity: 0.8;
}

.container10 .grid_cards .item .icon_cards i{
    position: absolute;
    top: 34%;
    left: calc(50% - 17px);
    font-size: 35px;
    z-index: 1;
    color: white;
    opacity: 0;
    transition: 0.5s;
}
.container10 .grid_cards .item:hover .icon_cards i{
    opacity: 1;
    transition: 0.5s;
}

.container10 .grid_cards .item .icon_cards .text{
    position: absolute;
    left: calc(50% - 86px);
    top: 52%;
    line-height: 1.7;
    z-index: 1;
    text-align: center;
}

.container10 .grid_cards .item .icon_cards .grid3{
    top: 42%;
}

.container10 .grid_cards .item .icon_cards .text h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.container10 .grid_cards .item:hover .icon_cards .text h4 {
    opacity: 1;
    transition: 0.5s;
}

.container10 .grid_cards .item .icon_cards .text p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 300;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
} 

.container10 .grid_cards .item:hover .icon_cards .text p {
    opacity: 1;
    transition: 0.5s;
}

/* Img container14 */

.container14 .setting_cont14 {
    position: relative;
    background-size: cover;
    background-image: url(../img/cont14/map_cont14.png);
    background-repeat: no-repeat;
    transition: 0.5s;
    background-position: center;
}

.container14 .setting_cont14:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-color: #e5e5e5;
    opacity: 0.9;
    transition: 0.5s;
}

.container14 .setting_cont14:hover {
    transform: scale(1.2);
}

.container14 .setting_cont14:hover:after {
    transition: 0.5s;
    opacity: 0;
}