.cards .item img {
    width: 100%;
    transition: 0.5s ease-in-out;
}

.cards .item .icon {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
}

.cards .item .icon:hover {
    opacity: 1;
    visibility: visible;
    transform: translate(-10px, -10px);
}

.cards .item:hover img {
    transform: translate(-10px, -10px);
    box-shadow: rgba(149, 225, 211, 1) 10px 10px;
    transition: 0.5s;
}

.cards .item .user {
    height: 100%;
    background-image: url("../img/USERS.png");
    background-repeat: no-repeat;
    background-position: center;
}

.cards .item .user p {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding-top: 40%;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* Img container8 */

/* Img container10 */

.grid_cards .item{
	position: relative;    
    line-height: 0;
    cursor: pointer;
}

.grid_cards .item:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #e37879, #eed181);
    opacity: 0;
    transition: 0.5s;
}

 .grid_cards .item:hover:after {
    transition: 0.5s;
    opacity: 0.8;
}

.grid_cards .item .icon_cards i{
    position: absolute;
    top: 34%;
    left: calc(50% - 17px);
    font-size: 35px;
    z-index: 1;
    color: white;
    opacity: 0;
    transition: 0.5s;
}
.grid_cards .item:hover .icon_cards i{
    opacity: 1;
    transition: 0.5s;
}

.grid_cards .item .icon_cards .text{
    position: absolute;
    left: calc(50% - 86px);
    top: 52%;
    line-height: 1.7;
    z-index: 1;
    text-align: center;
}

.grid_cards .item .icon_cards .grid3{
    top: 42%;
}

.grid_cards .item .icon_cards .text h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.grid_cards .item:hover .icon_cards .text h4 {
    opacity: 1;
    transition: 0.5s;
}

.grid_cards .item .icon_cards .text p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 300;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
} 

.grid_cards .item:hover .icon_cards .text p {
    opacity: 1;
    transition: 0.5s;
}